{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('actions') }}" method="post">
        <dl><h5>What?</h5>
        <dd><input type=text name=what id="what" style="width: 100%;">
      <div class="one columns alpha">Points:</div>
      <div class="two columns omega">
        <input type=text name=points id="points" style="width: 80%;" value="0">
      </div>
      <div class="one columns alpha">Due:</div>
      <div class="two columns omega">
        <input type=text name=due id="due" style="width: 80%;" value="">
      </div>
      <div class="one columns alpha">Start:</div>
      <div class="two columns omega">
        <input type=text name=start id="start" style="width: 80%;" value="">
      </div>
      <div class="one columns alpha">Finish:</div>
      <div class="two columns omega">
        <input type=text name=finish id="finish" style="width: 80%;" value="">
      </div>
      <div class="twelve columns">
      <input type=submit value=Add>
      <input type="checkbox" name="just_finished" value="just_finished">Just
      finished
      </div>
      </dl>
    </form>
  {% endif %}
  <ul class="twelve columns">
  {% for day, points in week %}
    {{ day }}: {{ points }}
  {% endfor %}
  {% for action in actions %}
      <li>
       <h4>{{ action.text }}
        <a href="{{ url_for('action_handler', action=action.id) }}">
        {% if session.logged_in %}(edit){% else %}(view){% endif %}</a>
        <small style="text-align:right;float:right">
            {{ action.modified|reldatetime }}</small></h4>
      </li>
      {% if action.due %} 
      due: {{ action.due|reldatetime }} {% endif %}
      {% if action.start_time %} 
      started: {{ action.start_time|reldatetime }} {% endif %}
      {% if action.finish_time %} 
      finished: {{ action.finish_time|reldatetime }} {% endif %}
      {% if action.points %} 
      points: {{ action.points }} {% endif %}
  {% else %}
      <li><em>Unbelievable. No actions here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
