{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <form action="{{ url_for('nugget', nugget=nugget.id) }}" method="post" class=add-nugget>
      <dl>
        <dt>URL:{{ nugget.uri }}
        <dt>Description:
        <dd><textarea name=text rows=10 cols=40>{{ nugget.text }}</textarea>
        <dd><input type="checkbox" name="delete" value="Delete">delete</input>
        <dd><input type=submit value=Update>
      </dl>
  </form>
  {% else %}
    <h2><a href="{{ nugget.uri }}">{{ nugget.uri }}</a></h2>
      <h5>
      modified:{{ nugget.modified|datetime }} 
      added:{{ nugget.added|datetime }} 
      </h5>
    <br>{{ nugget.text|safe }}

  {% endif %}
{% endblock %}
