<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Hactar | remembers everything.</title>
	<meta name="Your personal AI" content="">
	<meta name="David Griffin" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
  <link rel="stylesheet" 
  href="{{ url_for('static', filename='stylesheets/base.css') }}">
  <link rel="stylesheet" 
  href="{{ url_for('static', filename='stylesheets/skeleton.css') }}">
  <link rel="stylesheet" 
  href="{{ url_for('static', filename='stylesheets/layout.css') }}">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
    <link rel="shortcut icon" 
    href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="apple-touch-icon" 
    href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" 
    href="{{ url_for('static', filename='images/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" 
    href="{{ url_for('static', filename='images/apple-touch-icon-114x114.png') }}">
<script type="text/javascript">
window.onload = function(){
    // get submit button
    var submitbutton = document.getElementById("searchq");
    // add listener to button
    if(submitbutton.addEventListener){
        submitbutton.addEventListener("focus", function() {
            if (submitbutton.value == 'search memes'){
                submitbutton.value = '';
            }
        });
    };
    // get description field
    var descfield = document.getElementById("description");
    // add listener to descfield field
    if(descfield){
        if(descfield.addEventListener){
            descfield.addEventListener("focus", function() {
                if (descfield.value == 'description'){
                    descfield.value = '';
                }
            });
        };
    };
    // get description field
    var urlfield = document.getElementById("urltitle");
    // add listener to urlfield field
    if(urlfield){
        if(urlfield.addEventListener){
            urlfield.addEventListener("focus", function() {
                if (urlfield.value == 'URL or title'){
                    urlfield.value = '';
                }
            });
        };
    };
    // get description field
    var userfield = document.getElementById("username");
    if(userfield){
        if(userfield.addEventListener){
            userfield.addEventListener("focus", function() {
                if (userfield.value == 'username'){
                    userfield.value = '';
                }
            });
        };
    }; 
    // get description field
    var passfield = document.getElementById("password");
    if(passfield){
        if(passfield.addEventListener){
            passfield.addEventListener("click", function() {
                if (passfield.value == 'password'){
                    passfield.value = '';
                }
            });
        };
    };
}
</script>
</head>
<body>
<div class="container">
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
  <div class="three columns sidebar">
    <nav>
    <a href="{{ url_for('home') }}" style="text-decoration: none"><h3>Hactar</h3></a>
    <form id="newsearch" method="get" action="{{ url_for('memes') }}">
          <input type="text" id="searchq" name="q" value="search memes">
      </form>
    {% if not session.logged_in %}
      {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
      <form action="{{ url_for('login') }}" method=post>
        <dl>
          <dd><input type=text id="username" name=username value="username">
          <dd><input type=password id="password" name=password value="password">
          <dd><input type=submit value=Login>
        </dl>
      </form>
    {% else %}
      <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
    </nav>
  </div>
  <div class="twelve columns offset-by-one content">
        {% block body %}{% endblock %}
  </div>
</div>
</body>
