{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <form action="{{ url_for('meme', meme=meme.id) }}" method="post" class=add-meme>
      <dl>
        <dt>{{ meme.heading }}
        <dt>Description:
        <dd><textarea name=text rows=10 cols=40>{{ meme.text }}</textarea>
        <dd><input type="checkbox" name="delete" value="Delete">delete</input>
        <dd><input type=submit value=Update>
      </dl>
  </form>
  {% else %}
    {% if meme.uri %}
      <h2><a href="{{ meme.uri }}">{{ meme.heading }}</a></h2>
    {% else %}
      <h2>{{ meme.title }}</h2>
    {% endif %}
      <h5>
      modified:{{ meme.modified|datetime }} 
      added:{{ meme.added|datetime }} 
      </h5>
    <br>{{ meme.text|safe }}

  {% endif %}
{% endblock %}
