{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in and add %}
    <form action="{{ url_for('memes') }}" method=post class=add-meme>
      <dl>
        <dd><input type=text id="urltitle" size=40 name=uri value="URL or title">
        <dd><textarea name=desc id="description" rows=10 cols=40>description</textarea>
        <dd><input type=submit value=Add>
      </dl>
    </form>
  {% endif %}
  <ul class=memes>
  {% for meme in memes %}
    {% if meme.uri %}
      <li><h2><a href="{{ meme.uri }}">{{ meme.heading }}</a></h2>
    {% else %}
      <li><h2>{{ meme.title }}</h2>
    {% endif %}
      <h5>
          <a href="{{ url_for('meme', meme=meme.id) }}">edit</a>
      modified:{{ meme.modified|datetime }} 
      added:{{ meme.added|datetime }} 
      </h5>
  <br>{{ meme.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No memes here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
