{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in and add %}
    <form action="{{ url_for('memes') }}" method=post class=add-meme>
      <dl>
        <dt>Url:
        <dd><input type=text size=40 name=uri>
        <dt>Description:
        <dd><textarea name=desc rows=10 cols=40></textarea>
        <dd><input type=submit value=Add>
      </dl>
    </form>
  {% endif %}
  <ul class=memes>
  {% for meme in memes %}
  <li><h2><a href="{{ meme.uri }}">{{ meme.uri }}</a></h2>
      <h5>
          <a href="{{ url_for('meme', meme=meme.id) }}">edit</a>
      modified:{{ meme.modified|datetime }} 
      added:{{ meme.added|datetime }} 
      </h5>
  <br>{{ meme.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No memes here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
