{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in and add %}
    <form action="{{ url_for('memes') }}" method="post">
      <dl>
        <dd><input type=text id="urltitle" name=uri style="width: 100%;" value="http://">
        <dd><textarea name=desc id="description" rows=5 style="width: 100%;">description</textarea>
        <dd><input type=submit value=Add>
      </dl>
    </form>
  {% endif %}
  <ul class=memes>
      {% for meme in memes %}
      <li>
      
        {% if meme.uri %}
       <h4><a href="{{ meme.uri }}" target="_blank">{{ meme.heading }}</a>
        {% else %}
       <h4>{{ meme.title }}
        {% endif %} 
        <a href="{{ url_for('meme_handler', meme=meme.id) }}">
        {% if session.logged_in %}(edit){% else %}(view){% endif %}</a>
        <small style="text-align:right;float:right">
            {{ meme.modified|reldatetime }}</small></h4>
    {{ meme.markup|safe }}
    {% if meme.checked %} 
    <small>status: {{ meme.status_code|status }} {{ meme.checked|reldatetime }} </small>
    {% endif %}
  {% else %}
    <li><em>Unbelievable.  No memes here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
